.App {
  text-align: center
}

.table-details {
  margin-top: 2rem;
  border: 0.2rem solid white;
  box-shadow: 0.1rem whitesmoke;
}


.table-heading {
  border : 0.2rem solid white;
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: space-around;
}

.table-body {
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: space-around;
}